@model CalificacionViewModel;

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}


<form asp-action="Editar" asp-controller="Calificaciones" method="post">
	<input type="hidden" asp-for="Id" />
	<div>
		<label asp-for="MatriculaEstudiante"></label>
		<input asp-for="MatriculaEstudiante"  class="form-control" readonly />
	</div>
	<div>
		<label asp-for="CodigoMateria"></label>
		<input asp-for="CodigoMateria" class="form-control" readonly />
	</div>
	<div>
		<label asp-for="Nota"></label>
		<input asp-for="Nota" class="form-control" />
		<span asp-validation-for="Nota" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Periodo"></label>
		<input asp-for="Periodo" class="form-control" readonly />
	</div>

	<br />

	<div>
		<button class="btn btn-primary" type="submit">Guardar cambios</button>
		<a href="/Calificaciones/Lista" class="btn btn-danger">Cancelar</a>
	</div>

</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}