@model CalificacionViewModel;

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}


<form asp-action="Editar" asp-controller="Calificaciones" method="post">
	<input type="hidden" asp-for="idCalificacion" />
	<div>
		<label asp-for="matriculaEstudiante"></label>
		<input asp-for="matriculaEstudiante" class="form-control" readonly />
	</div>
	<div>
		<label asp-for="codMateria"></label>
		<input asp-for="codMateria" class="form-control" readonly />
	</div>
	<div>
		<label asp-for="notaEstudiante"></label>
		<input asp-for="notaEstudiante" class="form-control" />
		<span asp-validation-for="notaEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="periodoEstudiante"></label>
		<input asp-for="periodoEstudiante" class="form-control" readonly />
	</div>

	<br />

	<div>
		<button class="btn btn-primary" type="submit">Guardar cambios</button>
		<a href="/Calificaciones/Lista" class="btn btn-danger">Cancelar</a>
	</div>

</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}